<div class="hangman-start" *ngIf="!beginGame; else elseBlock">
  <img src="../../../../assets/ahorcado.png" width="200px" class="preguntados-image" />
  <h1>Juego del ahorcado</h1>
  <button mat-raised-button color="primary" (click)="start()">Comenzar</button>
</div>
<ng-template #elseBlock>
  <div class="hangman">
    <div>
      <app-hangman-display (correctLetter)="addScore()"  (gameFinished)="onGameFinished($event)" [guesses]="guesses" [question]="question"></app-hangman-display>
      <app-hangman-question [guesses]="guesses" [question]="question"></app-hangman-question>
    </div>
    <div class="keyboard">
    <ng-container  *ngIf="!restartGameBtnShown else restartGameBtn">
      <app-hangman-keyboard (keyPressed)="guess($event)" [question]="question"></app-hangman-keyboard>
      <div class="guessed">
        <h3>Letras elegidas:</h3>
        <p *ngFor="let letter of guesses;">{{letter}}</p>
      </div>
      <div class="guessed">
        <h4>Puntaje: {{score}}</h4>
      </div>
    </ng-container>
    </div>
  </div>
  <ng-template #restartGameBtn>
    <button class="btn btn-primary" (click)="reset()">
      Siguiente palabra
    </button>
  </ng-template>
</ng-template>

