<app-header></app-header>
<ng-particles [id]="id" [options]="particlesOptions" [particlesInit]="particlesInit"
              (particlesLoaded)="particlesLoaded($event)"></ng-particles>
<div class="about-container">
    <div class="col-7 col-sm-5 col-md-4 col-lg-3 content">
        <h1>¡Hola! Bienvenido, Admin</h1>
        <img src="../../../assets/alan.jpeg" class="img-player" />
        <h3>Mayor puntaje obtenido: 0</h3>
        <p>Snake game: Mueve con las flechas y recoge las pelotitas que andan sueltas.</p>
        <p>Ten cuidado de no chocarte a ti mismo o las paredes</p>
        <h3>Desarrollado por Alan Pucci, 4ºB</h3>
    </div>
</div>