@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:host{
  height: 460px;
  width: 100%;
  display: flex;
  flex: 1;
  font-size: 10px;
  color: white;
  font-family: 'Press Start 2P', cursive;
}

.highscore-container{
  background: linear-gradient(#4b6cb7, #182848);
  height: 100%;
  width: 100%;
  padding:15px;
}

table{
  font-family: 'Press Start 2P', cursive;
  width: 100%;
}

td{
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td, th{
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  padding: 5px;
}

tbody tr:nth-of-type(odd){
  background-color: #677db2;
}

tbody tr:nth-child(1), 
tbody tr:nth-child(2),
tbody tr:nth-child(3){
  font-family: "gameover";
  color:yellow;
}