<app-header></app-header>
<div style="position:relative; z-index: 1;">
    <div class="game-image-container">
        <button (click)="pickGame('ahorcado')">
            <img src="../../../assets/ahorcado.png" class="img-thumbnail" class="card-button" />
        </button>
        <button (click)="pickGame('mayormenor')">
            <img src="../../../assets/cartas.png" class="img-thumbnail" class="card-button" />
        </button>
        <button (click)="pickGame('preguntados')">
            <img src="../../../assets/preguntados.png" class="img-thumbnail" class="card-button" />
        </button>
        <button (click)="pickGame('vibora')">
            <img src="../../../assets/snake.png" class="img-thumbnail" class="card-button" />
        </button>
    </div>
    <div class="home-content">
        <div class="game">
            <router-outlet></router-outlet>
        </div>
        <!-- <app-chat></app-chat> -->
        <app-chat></app-chat>
    </div>
</div>
<ng-particles [id]="id" [options]="particlesOptions" [particlesInit]="particlesInit"
              (particlesLoaded)="particlesLoaded($event)"></ng-particles>